.venv/
__pycache__/
*.pyc
*.egg-info/
.ruff_cache/
.pytest_cache/
build/
dist/
*.log
# local build artifacts
.flatpak-builder/
repo/

# local flatpak build outputs
builddir/
repo/
.flatpak-builder/
*.flatpak
docs/screenshots/*.mirror
